# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
venv/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.nox/
.tox/
.pytest_cache/
coverage.xml
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode settings (optional, if you're using VSCode)
.vscode/

# MacOS files
.DS_Store

# Env files (for secrets or environment configs)
.env
